# Folders to ignore
bin/
obj/
.vs/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Microsoft Visual Studio Build Output
*.BuildLog.xml

# Others
.vscode/